.blur-sample {
  animation-name: blur;
  animation-duration: 5s;
  animation-fill-mode: forwards;
 
}

@keyframes blur{
  0%{
    filter: blur(30px);
  }
  
  100%{
    filter: blur(0px);
  }
  }


.title {
  animation-name: title;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  position: absolute;
  top:10%;
  left:15%;
}

@keyframes title {
  0%{
    filter: blur(30px);
  }
  
  100%{
    filter: blur(0px);
  }
  }


.w{
  animation-name: w;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

@keyframes w{
  0% {filter: opacity(100%);}
  100%{filter: opacity(0%);}
}


.m{
  animation-name: m;
  animation-duration: 15s;
  animation-fill-mode: forwards;
}

@keyframes m{
  30% {filter: opacity(100%);}
  100%{filter: opacity(0%);}
}

.image {
  position: absolute;
top: 500px;
text-align: center;}